body{
    background-color: #050f2c;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    
}
.header{
    width: 100%;
    overflow: hidden;
    
}

.header div{
    width: 100%;
}
#menu{
    
   
float: center;
    background-color: #1cc7d0;
    border-radius: 2em;
    text-align: right  ;
    height: 50px;
    
    
}
.icon{
    display: none;
}
#menu ul, li, a{
    list-style: none;
    display: inline-block;
    margin-inline: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    padding-top: 1%;


}


.inicio{
    overflow: hidden;
    padding: 1em;
}
.items{
    width: 50%;
    float: left;
    padding-left: 1em;
}
#texto{
    width: 40%;
    
    margin-left: 5%;
}
#imagen{
    
    width: 20%;
}
#imagen img{
   width: 150%;
}
#Descarga{
    text-align:center;
}
#Descarga a{
    text-decoration: none;
    color: white;
    font-size: 80px;
    margin-inline: 2%;
}
#Descarga div{
    margin-inline: 5%;
    margin-top: 1%;
}
.rv{
    overflow: hidden;
    padding: 1em;
    margin-left: 5%;
}
.rvItems{
    margin-left: 10%;
    width: 20%;
    float: left;
    padding-left: 1em;
    
   
}
.rvItems video{
    width: 250%;
    border-style: none;
    border-radius: 2em;
    
}
.Prevencion{
    overflow: hidden;
    padding: 1em;
    margin-left: 15%;
}
.prevencionItems{
    margin-left: 2%;
    width: 20%;
    float: left;
    padding-left: 1em;
    
  
}
.prevencionItems img{
    width: 100%;
    margin-left: -2%;
}

#Contacto{
    margin-left: 15%;
}
#Contacto a{
    text-decoration: none;
    color: snow;
    font-size: 29px;
    margin-left: 20%;
    display: inline-block;
}
.contacto{
    overflow: hidden;
}
.contactoItems{
    float: left;
}
#contactoIconos{
    
    width: 20%;
    float: right;
    margin-top: 5%;
    margin-right: 20%;
    
}
.topnav .icon {
    display: none;
  }




@media only screen and (max-width: 1080px) {
    body{
        background-color: #0066a1;
        
    }
    .header{
        width: 100%;
        overflow: hidden;
      
    }
    
    .header div{
        width: 100%;
        overflow: hidden;
    }
    
    .menu2 a:not(:first-child) {display: none;}
    .menu2 a.icon {
      float: right;
      display: block;
    }
    .menu2.responsive {position: relative;}
    .menu2.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu2.responsive a {
      float: none;
      display: block;
      text-align: left;
    
    }
    #menu{
        
       position: fixed;
    float: center;
        background-color: #44c7f4;
        border-radius: 2em;
        text-align: center  ;
        height: auto;
       
             width: 100%;
        
        
    }
    #menu a{
        margin-left: 1%;
    }
    #menu ul, li, a{
        list-style: none;
        display: inline-block;
        margin-inline: 10px;
        margin-right: 20px;
       text-decoration: none;
        color: white;
        height: 50px;
        padding-top: 5%;
        
       
       
    }
    
    #menu a:hover{
        background-color: skyblue;
        
    }
    #inicio{
        width: 100%;
    }
  #texto h4{
    text-align: center;
    font-size: 28px;
  }
    #texto{
        text-align: justify;
        width: 100%;
        margin-left: -1%;
       
    }
    #imagen{
        
        display: none;
    }
   
    #Descarga{
        text-align:center;
    }
    #Descarga a{
        text-decoration: none;
        color: white;
        font-size: 80px;
        margin-inline: 2%;
    }
    #Descarga div{
        margin-inline: 5%;
        margin-top: 1%;
    }
    .rv{
        overflow: hidden;
        
    }
    .rv img{
        display: none;
    }
    .rvItems{
        
        
        width: 100%;
        float: left;
       margin-left: -2%;
        
       
    }
    .rvItems video{
        width: 90%;
        border-style: none;
        border-radius: 2em;
        
    }
   
   .Prevencion{
       width: 100%;
       margin-left: -10%;
    }
    .prevencionItems{
        width: 100%;
        margin-left: 15%;
    }
    #prevencionTexto{
        width: 80%;
       
        
    }
    #mano1{
        display: none;
    }
    #mano2{
        width: 50%;
        margin-left: 30%;
    }
    
    #contactoTexto{
        width: 100%;
        text-align: center;
        margin-left: -8%;
    }
    
   
    
    
  }
 