body{
    background-color: #050f2c;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    
}
.header{
    width: 100%;
    overflow: hidden;
    
}

.header div{
    width: 100%;
}
#menu{
    
   
float: center;
    background-color: #1cc7d0;
    border-radius: 2em;
    text-align: right  ;

    
    
}
#menu ul, li{
    list-style: none;
    display: inline-block;
    margin-inline: 10px;
    margin-right: 20px;
   


}

#menu a{
    text-decoration: none;
    color: white;

}
.inicio{
    overflow: hidden;
    padding: 1em;
}
.items{
    width: 50%;
    float: left;
    padding-left: 1em;
}
#texto{
    width: 40%;
    
    margin-left: 5%;
}
#imagen{
    
    width: 20%;
}
#imagen img{
   width: 150%;
}
#Descarga{
    text-align:center;
}
#Descarga a{
    text-decoration: none;
    color: white;
    font-size: 80px;
    margin-inline: 2%;
}
#Descarga div{
    margin-inline: 5%;
    margin-top: 1%;
}
.rv{
    overflow: hidden;
    padding: 1em;
    margin-left: 5%;
}
.rvItems{
    margin-left: 10%;
    width: 20%;
    float: left;
    padding-left: 1em;
    
   
}
.rvItems video{
    width: 250%;
    border-style: none;
    border-radius: 2em;
    
}
.Prevencion{
    overflow: hidden;
    padding: 1em;
    margin-left: 15%;
}
.prevencionItems{
    margin-left: 2%;
    width: 20%;
    float: left;
    padding-left: 1em;
    
  
}
.prevencionItems img{
    width: 100%;
    margin-left: -2%;
}

#Contacto{
    margin-left: 15%;
}
#Contacto a{
    text-decoration: none;
    color: snow;
    font-size: 29px;
    margin-left: 20%;
    display: inline-block;
}
.contacto{
    overflow: hidden;
}
.contactoItems{
    float: left;
}
#contactoIconos{
    
    width: 20%;
    float: right;
    margin-top: 5%;
    margin-right: 20%;
    
}




@media only screen and (min-width: 90px) {
   
    .header{
        width: 100%;
        overflow: hidden;
        
    }
    
    .header div{
        width: 100%;
    }
    #menu{
        
       
    float: center;
        background-color: #1cc7d0;
        border-radius: 2em;
        text-align: right  ;
    
        
        
    }
    #menu ul, li{
        list-style: none;
        display: inline-block;
        margin-inline: 10px;
        margin-right: 20px;
       
    
    
    }
    
    #menu a{
        text-decoration: none;
        color: white;
    
    }
    #inicio{
        width: 100%;
    }
  #texto h4{
    text-align: center;
    font-size: 28px;
  }
    #texto{
        text-align: justify;
        width: 100%;
        margin-left: -1%;
       
    }
    #imagen{
        
        display: none;
    }
   
    #Descarga{
        text-align:center;
    }
    #Descarga a{
        text-decoration: none;
        color: white;
        font-size: 80px;
        margin-inline: 2%;
    }
    #Descarga div{
        margin-inline: 5%;
        margin-top: 1%;
    }
    .rv{
        overflow: hidden;
        
    }
    .rv img{
        display: none;
    }
    .rvItems{
        
        
        width: 100%;
        float: left;
       margin-left: -2%;
        
       
    }
    .rvItems video{
        width: 90%;
        border-style: none;
        border-radius: 2em;
        
    }
   
   .Prevencion{
       width: 100%;
       margin-left: -10%;
    }
    .prevencionItems{
        width: 100%;
        margin-left: 15%;
    }
    #prevencionTexto{
        width: 80%;
       
        
    }
    #mano1{
        display: none;
    }
    #mano2{
        width: 50%;
        margin-left: 30%;
    }
    
    #contactoTexto{
        width: 100%;
        text-align: center;
        margin-left: -8%;
    }
    #contactoIconos{
        width: 100%;
        text-align: center;
    }
    #Contacto a{
        text-decoration: none;
        color: snow;
        font-size: 29px;
       
        display: inline-block;
    }
    
    
  }